pip install Flask==1.0.2
pip install Flask-Migrate==2.7.0
pip install Flask-Script==2.0.5
pip install Flask-SQLAlchemy==2.5.1
pip install alembic==1.6.5
pip install click==8.0.1
pip install colorama==0.4.4
pip install greenlet==1.1.0
pip install itsdangerous==2.0.1
pip install Jinja2==3.0.1
pip install Mako==1.1.4
pip install MarkupSafe==2.0.1
pip install python-dateutil==2.8.1
pip install python-editor==1.0.4
pip install six==1.16.0
pip install SQLAlchemy==1.4.18
pip install Werkzeug==2.0.1
